.banner-container {
  min-height: 40rem;
  padding-left: 3rem;
  padding-top: 10rem;
  background-position: center center;
  background-repeat: repeat;
  padding-bottom: 10rem;
  font-family: ubuntu,sans-serif;

  &__title {
    display: inline-grid;
    font-family:ubuntu,sans-serif;
    text-transform: uppercase;

    div:first-child {
      font-size: 3rem;
      color: #FFFFFF;
      margin-bottom: 0.1rem;
      
      span {
        background-color: #A9A9A9;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
    div:nth-child(2) {
      font-size: 5rem;
      color: #FFFFFF;
      background-color: #395ACB;

      span {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    div:last-child {
      font-size: 2.2rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  &__list {
    font-size: 2rem;
    font-weight: 300;
    padding-inline-start: 0;

    li {
      span {
        padding-right: 0.5rem;
        color: #395ACB;
      }
      list-style-type: none;
    }
  }

  &__banner-button {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    word-break: break-word;
    width: 20rem;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    border: 0.3rem solid transparent;
    background: #2E7E28;
    border-radius: 0;
    padding: 1rem 2rem;
    margin: 2rem auto 0;

    &:hover {
      background-color: #3d593b;
    }
  }
}